body {
	margin-top: 0;
	margin-right: 40px;
	margin-left: 40px;  
}

.header {
	background-color: red; 
	width: 100%;
	height: 80px;
	margin-bottom: 20px;
}

.yellowBlock {
	background-color: yellow; 	
	width: 30%;
	height: 300px;
	float: left;
}

.blueBlock {
	background-color: blue;
	width: 68%;
	height: 600px;
	float: right;
}

@media screen and (max-device-width: 768px) {
	body {
		margin-left: 0;
		margin-right: 0;
	}
	.blocks {
		margin-left: 40px;
		margin-right: 40px;
	}
	.header, .yellowBlock {
		width: 100%;
	}

	.blueBlock {
		width: 100%;
		margin-bottom: 20px;
	}
}